---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width" />
            <meta name="generator" content={Astro.generator} />
            <title>Document</title>
        </head>
        <body>
            <h1>UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR 2024 - II</h1>
        </body>
    </html>
</BaseLayout>
